body {
    font-family: 'Noto Sans KR',dotum,'돋움',vernade,arial,sans-serif;
    color: #5f6677;
    font-weight: 300;
    line-height: 1.5;
    font-size: 100%;
}
html {
    font-size: 16px;
}
a {
    text-decoration: none;
}

/* 헤더, wrap */

.header .warp {
    width: 100%;
    height: 154px;
}

.upper-menu {
    font-size: 14px;
    background: #004ea2;
    height: 79px;

}
.popup,
.menu-wrap,
.slide-wrap,
.content-wrap,
.survey-wrap,
.contact-wrap,
.footer-wrap {
    width: 1400px;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    width: 132px;
    height: 27px;
    padding-top: 14px;
}
.small-logo {
    display: none;
}
.menu-list {
    float: right;
}
.menu-list ul {
    display: inline-block;
    margin-top: 32px;

}
.menu-list li {
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
}
.menu-list a {
    color: #ffffff;
    font-size: 14px;
}
.popup-btn {
    background-color: #1f2774;
    display: inline-block;
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.facebook {
    width: 35px;
}
.menu-btn {
    display: none;
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    background: #003399;
    margin: 5px 10px;
    border-radius: 50%;
}
.menu-btn span {
    display: inline-block;
    position: relative;
    top: 14px;
    left: 6px;
    width: 55%;
    height: 2px;
    color: transparent;
    background: #fff;
}

.menu-btn span:before,
.menu-btn span:after {
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #fff;
}
.menu-btn span:before {
    top: -6px;
}
.menu-btn span:after {
    top: 6px;
}
/* 상단팝업 */ 
.popup {
    position: relative;
}
.popup-slider {
    width: 100%;
    height: 188px;
}
.popup-slider-item {
    float: left;
    width: 50%;
    height: 100%;
}
.popup1 {
    background-image: url(./asset/popup1.png)
}
.popup2 {
    background-image: url(./asset/popup2.png)
}
.close-popup {
    position: absolute;
    bottom: 0;
    right: 0;
}
legend {
    visibility: hidden;
}
.close-popup label {
    font-size: 0.825em;
}
.close-popup-btn {
    border: 0;
    background: transparent;
}
.close-popup-btn i {
    color: #5f6677;
}
.fa-times {
    font-size: 1.5em;
}
.close-popup-btn:focus{
    outline: 0;
}
/* 대메뉴 (GNB) 영역 */
.nav-box {
    position: relative;
    width: 1400px;
    height: 75px;
    margin: 0 auto;
    border: 0;
    overflow: hidden;
}
.nav-box:hover{
    height: 650px;
    z-index: 2;

}
.main-menu {
    height: 78px;
    position: relative;
    width: 14.285714285714286%;
    float: left;
    border-bottom: 3px solid #ccd4dc;
}
.main-menu:after {
    content: '';
    position: absolute;
    bottom: -3;
    left: 0;
    right: 100%;
    transition: all 300ms;
}
.main-menu:hover:after {
    right: 0;
    border-bottom: 3px solid #e13246;
    
}
.main-menu a {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.nav-box span {
    font-size: 19px;
    font-weight: 400;
    color: #171717;
    line-height: 78px;
    display: inline-block;
}
/* 소메뉴 (lnb) 영역 */
.sub-box {
    height: 100%;
    clear: both;
}
.lnb {
    width: 14.285714285714286%;
    background: #fff;
    float: left;
}

.lnb div {
    border-right: 1px solid #cccccc;
    margin-top: 30px;
    height: 415px;
}
.lnb:last-child div {
    border: 0;
}
.lnb-list {
    margin: 0 20px;
    border-bottom: 1px solid #cccccc;
}
.sub-lnb li {
    padding: 5px 0;
    font-size: 0.8125em;
    font-weight: 300;
}
.sub-lnb li a{
    color: #5f6677;
} 
.lnb-list>li:first-child {
    padding: 10px 0;
}
.lnb-list>li:first-child a {
    font-size: 1em;
    color: #171717;
    font-weight: 400;
}
.lnb-list:last-child {
    border:0;
}
.lnb-list a {
    position: relative;
}
.lnb-list a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    transition: all 500ms;
}
.lnb-list a:hover:after {
    right: 0;
    border-bottom: 1px solid #918f8f;
}
.sub-menu:last-child>div{
    border: 0;
}

/* 이미지 슬라이드 영역 */
.slide-wrap {
    margin: 0 auto;
    position: relative;
}

.img1 {
   background: url('./asset/slide1.jpg') no-repeat;
 
}
.img2 {
    background: url('./asset/slide2.jpg') no-repeat;
}
.img3 {
    background: url('./asset/slide3.jpg') no-repeat;
}
.img4 {
    background: url('./asset/slide4.jpg') no-repeat;
}
.img5 {
    background: url('./asset/slide5.jpg') no-repeat;
}
.slide {
    height: 606px;
    width: 100%;
    background-size: cover;

}
.slide .main-caption {
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    top: 240px;
    left: 160px;
    text-shadow: 2px 2px 2px black;

}
.slide .sub-caption {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    top: 285px;
    left: 167px;
    text-shadow: 2px 2px 2px black;
}
/* 슬라이드 내 메뉴 */
.utility {
    width: 100%;
    height: 140px;
    background: rgba(0,0,0,.7);
    position: absolute;
    bottom: 5px;
}
.utility li {
    float: left;
    width: 20%;
    height: 100%;
}
.utility li:hover {
    background: #1f2774;
}
.utility-list {
    width: 95%;
    margin: 0 auto;
    height: 100%;
}
.utility-list a {
    text-align: center;
}

.utility div {
    color: #ffffff;
    font-weight: 400;
    padding-top: 25px;
}
/* 콘텐츠 영역 */
.content-wrap {
    overflow: hidden;
}
.view-more {
    float: right;
    margin: 0 15px;
}
.content-wrap:nth-child(1) .half-content:nth-child(1) .view-more {
    visibility: hidden;
}
.program-list {
    width: 100%;
}
.program-list li {
    float: left;
    width: 25%;
    height: 350px;
}
.program-list img {
    width: 100%;
}
.program-box {
    width: auto;
    background: #f7f7f7;
    margin-right: 18px;
}
.program-box>div {
    position: relative;
}
.mark {
    display: inline-block;
    background: #004ea2;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 20px;
    font-size: 14px;
}
.program-box img {
    width: 100%;
    height: 213px;
}
.program-title {
    margin: 10px 0;
    height: 27px;
    overflow: hidden;
}
.program-title h3 {
    font-size: 1.125em;
    font-weight: 400;
    color: #222222;
    display: inline-block;
}
.program-info {
    padding: 0 20px;
}
.program-info h4{
    font-size : 1.25em;
    color: #231f20;
    font-weight: 400;
    padding: 15px 0;
    height: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.program-info div {
    padding: 20px 0;
    color: #5f6677;
}
.half-content {
    width: 50%;
    float: left;
    margin-top: 43px;
}
.half-content>.program-list li {
    width: 50%;
}

.notice-tab-bar ul {
    border-bottom: 1px solid #004ea2;
    width: 98%;
    display: inline-block;
    position: relative;
}
.tab-item {
    float: left;
    line-height: 40px;
    width: 24%;
    text-align: center;
    border: 1px solid #e3e5e4;
    position: relative;
    font-size: 0.875em;
}
.tab-item a{
   
    display: block;
    height: 40px;
    color: #5f6677;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab-active a {
    background: #004ea2;
    border: 1px solid #004ea2;
    color: #fff;
    height: 47px;
    line-height: 47px;
    position: absolute;
    width: 100%;
    top: -7px;
    left: -1px;
    font-size: 1em;
}
.notice-tab-bar .view-more {
    padding-top: 5px;
}
.notice-board {
    border: 1px solid #e3e5e4;
    margin-top: 20px;
    width: 98%;
}

.notice-board ul {
    padding: 20px 30px;
}

.notice-board li {
    padding: 5px 0;
    position: relative;
}
.notice-board a {
    font-size: 0.938em;
    color: #5f6677;
}
.notice-board a:hover {
    text-decoration: underline;
}
.notice-board a {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.date {
    float: right;
    font-size: 0.875em;
    color: #919cb6;
}
.program-list {
    overflow: hidden;
}
iframe {
    width: 100%;
    height: 215px;
    border: 0;
}
.video h3{
    font-size: 1em;
    padding-bottom: 0;
}
/* 만족도 조사 및 관리자 소개 영역 */
.survey-wrap {
    height: 120px;
    border: 1px solid #e3e5e4;
    margin-bottom: 10px;
}
.survey-header {
    height: 3.125em;
    width: 100%;
    background: #f4f5f8;
}
.survey-header span {
    padding: 18px 25px;
    line-height: 3.125em;
}
.survey-icon,
.manager-icon {
    display: inline-block;
    padding: 20px 15px 20px 25px;
}
.survey-question {
    float: left;
}
.survey-question span:nth-child(2) {
    vertical-align: super;
}
.survey-answer {
    float: right;
    padding: 20px 25px;
}
.survey-answer li {
    display: inline-block;
    margin-left: 50px;
    font-size: 0.825em;
}
.check-btn {
    display: inline-block;
    background: #646c82;
    color: #fff;
    width: 64px;
    font-size: 0.825em;
    padding: 5px 0;
    margin-left: 100px;
    text-align: center;
}

.contact-wrap {
    border: 1px solid #e3e5e4;
    height: 60px;
    margin-bottom: 20px;
}

.manager-info {
    display: inline-block;
    margin-right: 396px;
    vertical-align: super;
}
/* 하단 (footer) 영역 */
.footer-phone {
    width: 100%;
    background: #67686e;
    border-bottom: 1px solid #777d8b
}
.footer-bottom {
    width: 100%;
    background: #67686e;
}

.footer-wrap {
    padding: 35px 0;
    overflow: hidden;
}
.footer-wrap span {
    color: #fff;
}
.icon-phone i{
    font-size: 30px;
    margin-right: 10px;
    color: #fff;
}
.phone-number {
    padding-left: 15px;
    font-size: 1.5em;
}
.footer-menu li a{
    float: left;
    color: #fff;
    padding-right: 40px;
    font-weight: 400;
}
.family-site {
    float: right;
}
.family-site-list {
    position: relative;
}
.family-site select {
    position: absolute;
    width: 1px;
    border: 0;
    height: 1px;
    z-index: -1;
    
}
.select-box {
    display: inline-block;
    width: 252px;
    height: 36px;
    background: #fff;
    cursor: pointer;
}
.select-box span:nth-child(1){
    display: inline-block;
    color: #444444;
    font-size: 0.825em;
    padding: 8px 10px;
}
.drop-down {
    float: right;
    width: 20px;
    height: 20px;
    background-image: url(./asset/icon_select_open.png);
    background-repeat: no-repeat;
    margin: 13px 10px;
}
.other-site-btn {
    float: right;
    width: 36px;
    height: 36px;
    border: 0;
    background: #b0b2bc;
}
.other-site-btn i {
    color: #fff;
    font-size: 1em;
}
.email {
    clear: both;
    overflow: hidden;
    padding-top: 40px;
}
.email span, .mail-icon i {
    font-size: 0.75em;
    padding: 15px 0;
}
.reserved {
    font-size: 0.75em;
    padding-top: 15px;
}
.mail-icon i {
    font-size: 1.375em;
    color: #fff;
}
.email span, .reserved {
    color: #fff;
}



