* {
    font-family: 'Noto Sans KR',dotum,'돋움',vernade,arial,sans-serif;
    color: #5f6677;
    font-weight: 300;
    line-height: 1.5;
    font-size: 100%;
}
html {
    font-size: 16px;
}
a {
    text-decoration: none;
}

.header .warp {
    width: 100%;
    height: 154px;
}

.upper-menu {
    font-size: 14px;
    background: #004ea2;
    height: 79px;

}
.menu-wrap, .slide-wrap, .content-wrap, .survey-wrap {
    width: 1400px;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    width: 132px;
    height: 27px;
    padding-top: 14px;
}
.small-logo {
    display: none;
}
.menu-list {
    float: right;
}
.menu-list ul {
    display: inline-block;
    margin-top: 32px;

}
.menu-list li {
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
}
.menu-list a {
    color: #ffffff;
    font-size: 14px;
}
.popup-btn {
    background-color: #1f2774;
    display: inline-block;
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.facebook {
    width: 35px;
}
.menu-btn {
    display: none;
    padding: 7px 10px;
    float: right;
}
.menu-btn button{
    width: 30px;
    height: 30px;
    background: #003399;
    border: 0;
    border-radius: 50%;
}
.menu-btn button:focus {
    outline: 0;
}
.nav-box {
    width: 1400px;
    height: 75px;
    margin: 0 auto;
    border: 0;
    overflow: hidden;
}
.nav-box:hover{
    height: 650px;

}
.main-menu {
    height: 78px;
    position: relative;
    width: 14.285714285714286%;
    float: left;
    border-bottom: 3px solid #ccd4dc;
}
.main-menu:after {
    content: '';
    position: absolute;
    bottom: -3;
    left: 0;
    right: 100%;
    transition: all 300ms;
}
.main-menu:hover:after {
    right: 0;
    border-bottom: 3px solid #e13246;
    
}
.main-menu a {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.nav-box span {
    font-size: 19px;
    font-weight: 400;
    color: #171717;
    line-height: 78px;
    display: inline-block;
}
.sub-box {
    height: 100%;
    clear: both;
}
.sub-menu {
    width: 14.285714285714286%;
    height: 100px;
    float: left;
}
.sub-menu div {
    border-right: 1px solid #cccccc;
    margin-top: 30px;
    height: 415px;
}
.sub-menu-list {
    margin: 0 20px;
    border-bottom: 1px solid #cccccc;
}
.sub-menu-list li {
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #5f6677;
}
.sub-menu-list>li:first-child a {
    font-size: 16px;
    color: #171717;
    font-weight: 400;
}
.sub-menu-list:last-child {
    border:0;
}
.sub-menu-list a {
    position: relative;
}
.sub-menu-list a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    transition: all 500ms;
}
.sub-menu-list a:hover:after {
    right: 0;
    border-bottom: 1px solid #918f8f;
}
.sub-menu:last-child>div{
    border: 0;
}
.slide-wrap {
    position: relative;
}
.slide {
    height: 606px;
    width: 100%;
}
.img1 {
   background: url('./asset/slide1.jpg') no-repeat;
 
}
.img2 {
    background: url('./asset/slide2.jpg') no-repeat;
}
.img3 {
    background: url('./asset/slide3.jpg') no-repeat;
}
.img4 {
    background: url('./asset/slide4.jpg') no-repeat;
}
.img5 {
    background: url('./asset/slide5.jpg') no-repeat;
}
.slide .main-caption {
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    top: 240px;
    left: 160px;
    text-shadow: 2px 2px 2px black;

}
.slide .sub-caption {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    top: 285px;
    left: 167px;
    text-shadow: 2px 2px 2px black;
}
.utility {
    width: 99.3%;
    height: 140px;
    background: rgb(0,0,0,0.7);
    position: absolute;
    bottom: 10px;
    border-left: 5px solid #fff;
}
.utility li {
    float: left;
    width: 20%;
    height: 100%;
}
.utility li:hover {
    background: #1f2774;
}
.utility-list {
    width: 95%;
    margin: 0 auto;
    height: 100%;
}
.utility-list a {
    text-align: center;
}

.utility div {
    color: #ffffff;
    font-weight: 400;
    padding-top: 25px;
}
.content-wrap {
    overflow: hidden;
}
.view-more {
    float: right;
    margin: 0 15px;
}
.program-list {
    width: 100%;
}
.program-list li {
    float: left;
    width: 25%;
    height: 350px;
}
.program-list img {
    width: 100%;
}
.program-box {
    width: auto;
    background: #f7f7f7;
    margin-right: 18px;
}
.program-box>div {
    position: relative;
}
.mark {
    display: inline-block;
    background: #004ea2;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 20px;
    font-size: 14px;
}
.program-box img {
    width: 100%;
    height: 213px;
}
.program-title {
    margin: 10px 0;
}
.program-title span {
    font-size: 18px;
    color: #222222;
}
.program-info {
    padding: 10px 20px;
}
.program-info h3{
    font-size : 20px;
    color: #231f20;
    font-weight: 400;
    padding: 15px 0;
    height: 35px;
}
.program-info div {
    padding-top: 30px;
}
.half-content {
    width: 50%;
    float: left;
    margin-top: 43px;
}
.half-content>.program-list li {
    width: 50%;
}

.notice-tab-bar ul {
    border-bottom: 1px solid #004ea2;
    width: 98%;
    display: inline-block;
    position: relative;
}
.tab-item {
    float: left;
    line-height: 40px;
    width: 138px;
    text-align: center;
    border: 1px solid #e3e5e4;
    position: relative;
    font-size: 14px;
}
.tab-item a{
    display: block;
    height: 40px;
}

.tab-active a {
    background: #004ea2;
    border: 1px solid #004ea2;
    color: #fff;
    height: 47px;
    line-height: 47px;
    position: absolute;
    width: 100%;
    top: -7px;
    left: -1px;
    font-size: 16px;
}
.notice-tab-bar .view-more {
    position: absolute;
    right: 1px;
    top: 15px;
    font-size: 18px;
}
.notice-board {
    border: 1px solid #e3e5e4;
    margin-top: 20px;
    width: 98%;
}

.notice-board ul {
    padding: 20px 30px;
}

.notice-board li {
    padding: 10px 0;
}
.notice-board a {
    font-size: 0.938em;
}
.notice-board a:hover {
    text-decoration: underline;
}
.date {
    float: right;
    font-size: 0.875em;
    color: #919cb6;
}

iframe {
    width: 100%;
    height: 215px;
}
.video h3{
    font-size: 1em;
    padding-bottom: 0;
}
.survey-wrap {
    height: 120px;
    border: 1px solid #e3e5e4;
}
.survey-header {
    height: 3.125em;
    width: 100%;
    background: #f4f5f8;
}
.survey-header span {
    padding: 18px 25px;
    line-height: 3.125em;
}

.survey-icon {
    display: inline-block;
    padding: 20px 15px 20px 25px;
}
.survey-question {
    float: left;
}
.survey-answer {
    float: right;
}


.survey-answer li {
    display: inline-block;
    margin-left: 50px;
}