@media screen and (min-width: 1100px) {
  .card-item {
    width: 340px;
    height: 380px;
  }
}

@media screen and (max-width: 1099px) {
    .card-item {
        width: 50%;
    }
    .intro-box {
        border: 0;
    }
    .side-reservation {
        display: none;
    }
    .nav-bar {
        display: none;
    }
    .room-content, .room-explain {
        float: initial;
        margin: 0 auto;
    }
    .content .wrap, .recommendation .wrap  {
        padding: 64px 0 0 0;
    }
    .amenity, .review-content, .about-host,
    .location, .refund, .cancle-reservation {
        width: 58%;
        display: block;
        margin: 0 auto;
    }
    .amenity-content {
        width: 100%;;
    }
    .room-content .profile-host {
        display: none;
    }
    .alert {
        display: block;
    }

}
@media screen and (max-width: 899px) {
    .review-search-box {
        display: block;
        float: none;
        width: 100%;
    }
    .review-search-bar {
        width: 90%;
    }
}
@media screen and (max-width: 699px) {
    #footer-nav {
        display: none;
    }
    .amenity-list {
        display: block;
        width: 100%;
    }
    .alert {
        display: none;
    }
    .detail-subject {
        display: block;
        width: 90%;
    }
}
@media screen and (max-width: 522px) {
    .main-img {
        visibility: hidden;
    }
    .reserve-box {
        left:30%;
    }
    #reservation {
        width: 457px;
    }
    .maintop {
        width: 499px;
        height: 800px;
    }
    .img-box {
        background: wheat;
    }
    .other-list {
        display: block;
    }
    #review-search {
        padding: 8px;
    }
}