* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #484848;
}
input {
    outline: none;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
p {
    font-size: 14px;
    margin: 8px 0 8px 0;
    font-weight: 400;
    line-height: 18px;
}
strong {
    font-weight: 800;
}

.maintop {
    height: 691px;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
}
.logo i {
    color: white;
    font-size: 40px;
}
.reservation h2, .title h2 {
    font-size: 32px;
}

.reservation p {
    font-size: 18px;
    line-height: 22px;
}
.reserve-box {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate( -50%, -50% );
    width: 520px;
    height: 570px;
    margin-left: 90px;
}
.main-img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}
.bg-img {
    position: relative;
    width: 100%;
    height: 100%;
}
.img-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap{
    width: 100%;
    max-width: 1032px;
    height: 563px;
    margin: 0 auto;
    padding-top: 64px;
    padding-right: 24px;
    padding-left: 24px;
    z-index: 1;
}
.reservation {
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
    width: 444px;
    height: 499px;
    background: white;
    align-items: center;
    padding: 32px;
    margin-bottom: 64px;
    border-radius: 4px;
}
.reservation input {
    border: 0px;
}
.reservation span {
    display: block;
    margin: 10px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #484848;
}
.destination input, .select-box select {
    display: block;
    width : 420px;
    height: 20px;
    font-size: 18px;
    padding: 11px 6px 11px 11px;
}

.datebox {
    width: 222px;
    float: left;
    margin : 10px 0 10px 0;
}

.date-checkin, .date-checkout {
    width: 202px;
    border: 0;
    font-size: 18px;
    padding: 11px 6px 11px 11px;
}

.people {
    width: 222px;
    float: left;
    margin : 5px 0 25px 0;
}
.select-box, .dateItem, .destination, .guest-box {
    border: 1px solid rgb(235, 235, 235);
}
.select-box > select, .persons {
    display: inline-block;
    width: 210px;
    height: 40px;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    padding: 10px;
    background: url('./assets/caret-down-solid.svg') no-repeat 95% 50%; 
}
.btnbox {
    width: 444px;
    padding-top: 25px;
    display: inline-block;
}
.submitBtn {
    background: rgb(255, 90, 95);
    width: 446px;
    height: 50px;
    padding: 10px 22px;
    border-radius: 4px;
    border: 0px;
}
.submitBtn > span, .submit-request span {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin:0;
}

.title {
    margin: 10px 0;
}
.title span {
    display: inline-block;
    padding: 10px 0;
}
.photoreview {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    height: 100%;
}
.card-container {
    float: left;
    vertical-align: top;
    width: 33%;
}
.card-item {
    display: inline-block;
    width: 340px;
    height: 380px;
    padding: 10px 10px 0 10px;
}
.card-img img {
    width: 333px;
    height: 222px;
    padding-bottom: 10px;
}
.wrap-img {
    height: 100%;
    width: 100%;
    background-image: url(./assets/bedroom-416062_1280.jpg)
}
.text p {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}
.profile-img {
    float: left;
}
.profile-img img {
    width: 48px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    margin-right: 15px;
}
.profilebox {
    width: 100px;
    display: inline-block;
    padding: 5px 0;
}
.country span {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
.score i {
    color: #006a70;
}

.introduction > .wrap {
    height: auto;
    clear: both;
}
.introduction .title {
    padding: 15px 0; 
}
.intro-box {
    width: 100%;
    max-width: 1080px;
    height: 220px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}
.intro-item {
    float: left;
    width: 333px;
    padding: 30px 12px;
}
.icon-box > i {
    font-size: 40px;
    padding-bottom: 10px;
    color: #60B6B5;
}
.text-box, .popular-title  > h3 {
    font-size: 18px;
    font-weight: 600;
    padding: 3px 0;
}
.popular {
    height: auto;
    clear: both;
    padding-top: 50px;
}
.popular-item {
    float: left;
    width: 262px;
}
.popular-realtime {
    height: 310px;
}
.popular-card img {
    width: 244px;
    height: 164px;
    padding: 10px 0;
}
.sr-score .score, .popular-score  .score, .review-stars, 
.score-price .score, .activity-score .score {
    font-size: 10px;
    color: #006a70;
    letter-spacing: -2px;
    display: inline;
}
.rv-number, .popular-types, .super-host {
    font-size: 12px;
}
.rv-number{
    vertical-align: text-bottom;
}
.super-host {
    display: inline;
    padding: 0 5px;
}

.view-all span, .contact-host span, .explain-more span, .popup-btn {
    color: #008489;
    font-size: 17px;
    font-weight: 600;
    background: none;
    border: 0;
    padding: 0;
    margin: 10px 0;
}
.view-all i, .popup-btn a {
    color: #008489;
}
.add-date .btnbox{
    margin: 30px 0;
}
.date-btn {
    background: #008489;
    padding: 15px 22px;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
}
.date-btn span {
    color: white;
}
.introduction {
    border-bottom: 1px solid #cccccc;
}
.footer .wrap {
    height: 280px;
}
.footer-item {
    display: inline-block;
    width: 24%;
    float: left;
}
.footer-category > span {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    padding: 10px 0;
}
.footer-list  li {
    font-weight: 500;
    padding: 3px 0;
    font-size: 14px;
}
.footer-list a {
    color: #767676;
}
.icon-link a {
    padding: 0 3px;
}
.reserved {
    height: 60px;
    padding-top: 32px;
    border-bottom: 0;
    clear: both;
    border-top: 1px solid #cccccc;
}
.reserved span {
    color: grey;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.reserved i {
    font-size: 20px;
    padding: 0px 5px;
}
.new-icon {
    display: inline-block;
    background: #006a70;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    padding: 3px;
    border: 0;
    margin: 0 3px;
}
.icon-link i{
    font-size: 20px;
}
.footer {
    clear: both;
}

/* 상세페이지 */
.fixed-nav {
    display: none;
    position: fixed;
    background: white;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #cccccc;
    z-index: 2;
}

.fixed-nav .wrap {
    height: auto;
    padding: 0;
}
.fixed-nav-list {
    float: left;
}

.header i {
    padding: 10px 0;
}
.fixed-nav-list span {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    margin-top: 20px;
}
.nav-item-btn {
    font-size: 14px;
    font-weight: 500;
    color: #008489;
    display: inline-block;
}
.nav-item-btn:hover {
    border-bottom: 1px solid #008489;
}
.nav-btn {
    float: right;
}
.sub-item-btn {
    border: 0;
    margin: 10px;
}
.nav-btn span {
    font-size: 14px;
    margin: 15px 0 10px 0;
}

.header {
    width: 100%;
    height: 85px;
}
.header .logo {
    margin-top: 5px
}

.header > .logo i {
    color: red;
    margin: 0 20px;
    font-size: 35px;
}
.search-box {
    display: inline-block;
    margin-left: 100px;
    padding-top: 20px;
}
.search-bar {
    display: inline-block;
    padding: 3px 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #EBEBEB

}
.search-icon {
    font-size: 1.3em;
    color: grey;
    float: left;
}
.top-search {
    padding: 10px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    width: 364px;
    transition: all 0.3s;
}
.top-search:focus {
    width: 500px;
    transition: all 0.3s;
}
.nav-bar {
    float: right;
    padding: 3px 0px;

}
.nav-item {
    display: inline-block;
    padding: 30px 10px;
    font-size: 14px;
}
.nav-item a {
    padding: 8px;
}

.nav-item:hover {
    border-bottom: 2px solid rgb(118, 118, 118);
}
.photo {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 595px;
    border: 1px solid #484848;
}
.main-photo, .main-photo2 {
    float: left;
    width: 50%;
    height: 595px;
    overflow: hidden;
    background: black;
}
.main-photo img {
    height: 100%;
    width: 100%;
    min-width: 400px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.sub-photo-group {
    float: left;
    width: 50%;
    height: 595px;
}
.sub-photo {
    height: 50%;
    overflow: hidden;
    border: 1px solid #484848;
}
.sub-photo img {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 130%;
    height: 100%;
}
.photo img:hover {
    transition: transform 0.3s linear;
    transform: scale(1.05);
}
.room-content, .amenity-content {
    width: 55%;
    float: left;
    padding-bottom: 10px;
}
.amenity-content {
    border-bottom: 1px solid #cccccc;
}
.content .wrap {
    height: 100%;
    padding-top: 35px;
}
.room-content .title {
    display: inline-block;
}

.room {
    display: block;
    padding: 15px 0;
}
.room span {
    display: inline;
}

.profile {
    margin: 15px 0;
}
.profile-host {
    float: right;
    width: 60px;
}
.profile-host span {
    display: block;
    width: 20px;
    margin: 0 auto;
    color: #767676;
    font-size: 14px;
}
.profile-host img {
    display: inline-block;
    width: 64px;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid #cccccc;
}
.alert {
    display: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
}
.alert-text {
    display: inline-block;
    width: 85%;
}
.small-message {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 5px;
    margin: 0;
}
.thumbs-up {
    float: right;
}
.thumbs-up span {
    color: blue;
    font-size: 30px;
    margin: 0;
}
.room-icon {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px 30px 0;
    font-size: 12px;
}
.room-text {
    display: inline-block;
    width: 85%;
}

.room-info {
    padding-bottom: 5px;
}
.room-detail {
    display: inline-block;
    padding: 5px 0;
}
.side-reservation {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    position: sticky;
    top: 75px;
    margin-left: 80px;
    padding: 0 24px 30px 24px;
    display: inline-block;
    width: 326px;
}
.book-request {
    padding-top: 10px;
}
.sr-info {
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}
.sr-score {
    padding-top: 3px;
}
.sr-price span, .sr-score span {
    display: inline;
}
.per-night {
    font-size: 12px;
}

.reservation-price {
    font-size: 22px;
    font-weight: 800;
}
.booking .dateItem{
    width: 300px;
    float: left;
    margin : 10px 0 10px 0;
}
.side-booking .datebox, .side-booking .people, .sr-people, .sr-people .persons {
    width: 100%;
}
.date-from, .date-to {
    display: inline-block;
    width: 126px;
    border: 0;
    padding: 10px;
    font-size: 16px;
    color: #484848;
}
.datebox > span, .sr-people > span {
    font-size: 12px;
}
.checkin-out {
    float: left;
    width: 100%;;
}
.sr-people {
    clear: both;
    display: inline-block;
}
.persons {
    font-size: 16px;
}
.side-booking .btnbox, .side-booking .submitBtn {
    width: 100%;
    height: 40px;
}
.confirm-message {
    padding-top: 10px;
    display: inline-block;
}
.confirm-message span {
    color: #484848;
    letter-spacing: 1px;
    font-size: 10px;
    padding: 0px 45px;
}

.room-explain {
    width: 55%;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}
.translate-btn button {
    width: 90%;
    margin: 10px 0;
    padding: 6px 12px;
    background: transparent;
}
.explain-more span {
    display: inline-block;
    padding-bottom: 15px;
}

.amenity-title, .reservation-title , .date-update {
    padding: 10px 0;
}
.amenity-title span, .popup-phrase span, .reservation-title span {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
}
.amenity-list {
    display: inline-block;
    width: 49%;
    padding: 10px 0;
}
.amenity-icon {
    width: 20px;
}
.carbon-check {
    font-size: 14px;
}
.amenity-list span, .bed-type{
    display: inline-block;
    color: #484848;
    font-weight: 400;
    letter-spacing: 1px;
}
.bedding {
    clear: both;
}
.room-bed {
    display: inline-block;
    height: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 15px;
    margin: 10px 15px 10px 0;
}
.bed-icon {
    margin: 0 20px 10px 0;
    padding: 10px;
}
.bed-info {
    display: block;
    margin: 10px 20px 10px 0;
}
.bed-info span{
    display: block;
    margin: 0;
}
.first-room {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.reservation-check {
    clear: both;
    padding-bottom: 30px;
}
.amenity-title span, .pre-month li, .next-month li,
.conditions span, .pre-year-month, .next-year-month,
.right-icon, .left-icon, #read-more-condition span {
    display: inline-block;
    letter-spacing: 1px;
}
.pre-month li, .next-month li {
    padding-right: 9px;
}
.next-year-month, .pre-year-month {
    padding: 0 65px;
    font-size: 18px;
    font-weight: bold;
}
.calendar-month {
    float: left;
}
.calendar-days {
    line-height: 10px;
}
.pre-month, .next-month {
    float: left;
    margin: 0 10px;
}
.calendar-box {
    display: inline-block;
    padding-top: 20px;
}
.calendar-box ul {
    padding-left: 8px;
}
.pre-btn, .next-btn {
    padding: 10px 15px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.pre-btn i, .next-btn i {
    font-size: 14px;
}
.next-calendar-month {
    float: right;
}
.right-icon2 {
    display: none;
}
.calendar td {
    padding: 11px;
}
.not-av, .available {
    text-align: center;
    border: 2px solid white;
    border-radius: 4px;
    width: 4px;
    height: 4px;
    font-size: 14px;
    background: repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgb(235, 235, 235) 4px);
}

.available {
    background: rgb(237, 246, 246);
    color: rgb(0, 132, 137);
    font-weight: bold;
}

.available:hover {
    background: rgb(204, 238, 235);
}
.review-content {
    width: 55%;
    display: inline-block;
    padding-top: 30px;
}
.review-top div {
    display: inline-block;
}
.review-total {
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    display: inline-block;
    width: 100%;
}
.review-top {
    float: left;
    padding: 10px 0;
}
.how-many-reviews, .host-name span, 
.location-info span, .refund-condition span, 
.recommend-title span, .options-title span,
.popup-title {
    font-size: 24px;
    font-weight: 800;
}
.review-stars {
    display: inline-block;
    font-size: 14px;
    color: rgb(0, 132, 137);
    vertical-align: super;
    margin: 0 30px 0 0;
}
.review-search-box {
    float: right;
    vertical-align: super;
}
.review-search-bar {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0 10px;
}
.review-search-bar .search-icon {
    font-size: 1em;
    padding: 10px 0;
}
.review-search-input {
    border: 0;
    padding: 10px;
    font-size: 13px;
}
.review-search-box:active {
    border: 1px solid #006a70;
    border-radius: 4px;
}
.score-detail {
    border-bottom: 1px solid #cccccc;
}
.detail-subject {
    display: inline-block;
    width: 49%;
}
.detail-subject span {
    display: inline-block;
    vertical-align: unset;
    margin: 0 25px 0 0;
}
.detail-subject .review-stars {
    float: right;
    padding: 12px 0;
}
.review-stars i {
    color: #006a70;
}
.detail-title {
    padding: 15px 0;
    letter-spacing: 1px;
    color: #808080;
    font-weight: 500;
}
.review-item {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}
.customer-photo, .customer-detail {
    display: inline-block;
}
.customer-detail {
    padding: 0 10px;
}
.customer-photo img {
    width: 35px;
    border-radius: 50%;
    border: 1px solid #cccccc;
}
.customer-name {
    font-weight: 600;
}
.review-date span{
    font-size: 14px;
    font-weight: 400;
}
.review-text p, .host-info span, .content p {
    font-size: 16px;
    line-height: 1.375em;
}
.conditions span, .house-title span, 
.activity-title span {
    font-weight: 800;
}
.review-nav li {
    display: inline-block;
    margin: 10px;
}
.review-nav button {
    color: #006a70;
    border-radius: 50%;
    padding: 8px 10px;
    border:0;
}
#now-review-page {
    background: #006a70;
    color: white;
}
#next-nav {
    border: 1px solid #006a70;
}
.about-host {
    width: 55%;
    padding-top: 50px;
    display: inline-block;
}
.host-name {
    display: inline-block;
}
.host-detail {
    margin: 10px 0;
}
.verified-host span {
    display: inline-block;
}
.host-icon i {
    font-size: 12px;
    vertical-align: top;
}
.host-response span {
    font-weight: 400;
}
.host-call, .verified-host, .host-response,
.host-btn-box, .recommend-title {
    padding: 10px 0;
}
.contact-host-btn {
    border: #006a70 solid 1px;
    color: #006a70;
    border-radius: 4px;
    padding: 7px 15px;
    font-size: 14px;
}
.host-contact {
    padding: 20px 0;
}
.warning {
    padding: 15px 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc
}
.warning a {
    font-weight: 600;
    color: #60B6B5;
}
.location, .refund {
    clear: both;
    display: inline-block;
    width: 55%;
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
.location-more, .refund-more, 
.condition-more {
    font-size: 14px;
    font-weight: 600;
    color: #60B6B5;
    border: 0;
    padding: 0;
}
.location-map {
    width: 100%;
    height: 300px;
}
.conditions {
    padding: 20px 0;
}
.recommend-item {
    display: inline-block;
    width: 10%;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #cccccc;
}
.recommend-img {
    position: relative;
}
.room-like-btn {
    background: transparent;
    border: 0;
}
.like-icon {
    position: absolute;
    background: transparent;
    right: 10px;
    top: 10px;
}
.like-icon i{
    color: #EEEEEE;
    font-size: 28px;
}
.unreveal-recommend-item {
    visibility: hidden;
    display: inline-block;
    width: 10%;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #cccccc;
}
.recommend-item img, .unreveal-recommend-item img {
    width: 100%;
}
.score-price .recommend-price {
    float: right;
}
.score-price span {
    display: inline-block;
}
.house-type span, .activity-type span {
    font-size: 12px;
    color: #A02F18;
    margin-bottom: 0;
}
.house-title span {
    font-size: 16px;
    margin: 1px 0;
}
.text-box {
    padding: 10px 0;
}
.krw-price {
    font-size: 14px;
}
.recommend-group {
    display: inline-block;
    position: relative;
    margin-bottom: 45px;
    height: 450px;
    width: 1080px;
    overflow-x: hidden;
}
.next-group {
    display: inline-block;
    position: absolute;
    top: 35%;
    right: -2%;
}
.prev-group {
    display: none;
    position: absolute;
    top: 35%;
    left: -3%;
}
.rc-next-btn {
    border: 0;
    font-size: 16px;
}
.next-activity-group {
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 0%;
}
.prev-activity-group {
    display: none;
    position: absolute;
    top: 45%;
    left: -3%;
}
.activity-list {
    position: relative;
    float: left;
}
.activity-group {
    position: relative;
    overflow: hidden;
}
.activity-slide {
    width: 400%;
    overflow: hidden;
    transform: translateX(0%);
    transition: all 1s;
}

.activity-item {
    display: inline-block;
    width: 4.5%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-right: 15px;
    height: 355px;
    overflow: hidden;
}
.unreveal-activity-item {
    visibility: hidden;
    display: inline-block;
    width: 4.5%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-right: 15px;
    height: 355px;
    overflow: hidden;
}
.activity-text {
    padding: 10px;
}
.activity-title {
    line-height: 1.375em;
}
.activity-img{
    position: relative;
}
.activity-img img{
    width: 100%;
    height: 220px;
}
.activity-type {
    margin-bottom: 5px;
}
.activity-type span {
    color: #808080;
}
.activity-score .score, .activity-language {
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 0;
}
.activity-price span {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}
.options {
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 20px;
}
.other-locations {
    padding: 15px 0;
}
.other-list {
    display: inline-block;
    width: 30%;
}
.other-list li {
    padding: 3px 0;
    font-weight: 300;
}
.score-price .rv-number {
    font-size: 12px;
    color: #484848;
    padding-left: 3px;
}
.bottom-reservation {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}
.bottom-price span {
    display: inline-block;
}
.bottom-nav {
    display: none;
    position: fixed;
    bottom: 0px;
    background: white;
    width: 100%;
    border-top: 1px solid #cccccc;
    z-index: 1;
}
.bottom-nav-item {
    display: inline-block;
}
.bottom-btnbox {
    float: right;
}
.submit-request{
    background: rgb(255, 90, 95);
    width: 160px;
    height: 50px;
    padding: 10px 22px;
    border-radius: 4px;
    margin: 10px 0;
    border: 0px;
}
#more-read-lo, .more-read-refund,
#read-more-condition{
    padding: 15px 0;
    transition-property: opacity;
    transition-duration: 3s;
    background: white;
    display: inline-block;
}
.more-read-refund {
    display: none;
    opacity: 0;
}
#more-read-lo {
    display: none;
    opacity: 0;
}

.show-read-lo {
    display: inline-block;
    opacity: 1;
}
#read-more-condition a {
    letter-spacing: 1px;
    color: #60B6B5;
}
.condition-text {
    margin: 10px 0;
}

.side-calendar {
    width: 324px;
    border: 1px solid #e4e4e4;
    height: 320px;
    position: absolute;
    bottom: -41%;
    background: white;
    display: none;
}
.side-calendar::after {
    border-top: 0;
    border-right: 10px solid #cccccc;
    border-left: 10px solid #cccccc;
}
.side-date {
    text-align: center;
    border: 1px double rgb(228, 231, 231);
    width: 4px;
    height: 4px;
    font-size: 14px;
    font-weight: 700;  
}
.side-date:hover {
    background: rgb(228, 231, 231);
}
.side-calendar .right-icon2 {
    display: inline-block;
}
.side-calendar .pre-year-month {
    padding: 0 45px;
}
.side-calendar .calendar-month {
    padding-top: 15px;
}
.side-calendar .pre-month {
    margin: 0 auto;
    width: 88%;
    float: none;
}
.added-message {
    padding-top: 20px;
    border-top: 1px solid #cccccc;
}

.added-message .alert-message {
    font-size: 12px;
    transition: all 1s ease 1s;
}

.added-message .small-message {
    font-size: 10px;
}
.added-message-text {
    display: inline-block;
}
.above-img-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
}
.above-img-btn2 {
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}
.above-img-btn button, .above-img-btn2 button {
    padding: 6px 15px;
    background: white;
    border-radius: 4px;
}
.above-img-btn span, .above-img-btn2 span{
    font-size: 14px;
    padding: 3px;
    display: inline-block;
}
.layer-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.popup-content {
    overflow: auto;
    display: block;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, 0.9);
}
.popup-text {
    margin: 100px auto;
    width: 520px;
    padding: 20px;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 10px 0 #cccccc;
    background: white;

}
.close-btn {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 100;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #cccccc;
}
.popup-phrase, .amenity-popup-phrase {
    padding: 20px 0;
}
.popup-phrase p,.amenity-popup-phrase p, .amenity-detail {
    font-weight: 400;
    font-size: 15px;
    color: #484848;
}
.amenity-detail {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400
}
.amenity-subject {
    font-weight: 700;
    font-size: 18px;
}
.amenity-popup-phrase {
    border-bottom: 1px solid #cccccc;
}
.location-section, .refund-section {
    padding-top:30px;
}
#footer-reservation {
    display: inline-block;
}
.popup-inner-text {
    margin: auto;
    width: 70%;
    padding-bottom: 30px;
}

.reservation-request .popup-text {
    width: 420px;
}

.recommend-list {
    position: relative;
}
.recommend-slide {
    width: 300%;
    overflow: hidden;
    transform: translateX(0%);
    transition: all 1s;
}

.days td {
    text-align: center;
    font-size: 11px;
}
.reservation-request .popup-text {
    width: 376px;
}

.footer-reservation {
    position: relative;
    top: 0;
    padding: 0 24px 30px 24px;
    display: inline-block;
    z-index: 1;
    width: 326px;
}