* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input {
    outline: none;
}
h2 {
    font-size: 32px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin: 8px 0 8px 0;
    line-height: 26px;
}
strong {
    font-weight: 800;
}
.maintop {
    height: 691px;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
}
.logo i {
    color: white;
    font-size: 40px;
}
.reserve-box {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate( -50%, -50% );
    width: 520px;
    height: 570px;
    margin-left: 90px;
}
.main-img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}
.bg-img {
    position: relative;
    width: 100%;
    height: 100%;
}
.img-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap{
    width: 100%;
    max-width: 1080px;
    height: 563px;
    margin: 0 auto;
    padding: 64px 0 0 76px;
    z-index: 1;
}

#reservation {
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
    width: 444px;
    height: 499px;
    background: white;
    align-items: center;
    padding: 32px;
    margin-bottom: 64px;
    border-radius: 4px;

}
#reservation input {
    border: 0px;
}
 div > span {
    display: block;
    margin: 10px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #484848;
}
.destination input, .select-box select {
    display: block;
    width : 420px;
    height: 20px;
    font-size: 18px;
    padding: 11px 6px 11px 11px;
}

.datebox {
    display: inline-block;
    width: 222px;
    float: left;
    margin : 10px 0 10px 0;
}

#check-in, #check-out {
    width: 202px;
    border: 0px;
    font-size: 18px;
    padding: 11px 6px 11px 11px;
}

.people {
    display: inline-block;
    width: 222px;
    float: left;
    margin : 5px 0 25px 0;
}
.select-box, .dateItem, .destination, .guest-box {
    border: 1px solid rgb(235, 235, 235);
}
.select-box > select, #persons {
    display: inline-block;
    width: 210px;
    height: 40px;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    padding: 10px;
    background: url('./assets/caret-down-solid.svg') no-repeat 95% 50%; 
}
.btnbox {
    margin : 10px 0 10px 0;
    align-items: center;
    width: 444px;
}
.submitBtn {
    background: rgb(255, 90, 95);
    width: 446px;
    height: 50px;
    padding: 10px 22px;
    border-radius: 4px;
    margin: 10px 0;
    border: 0px
}

.submitBtn > span {
    font-size: 18px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
}

.title {
    margin: 10px 0;
}
.photoreview {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    height: 100%;
}
.card-container {
    display: inline-block;
    float: left;
    vertical-align: top;
}
.card-item {
    display: inline-block;
    width: 340px;
    height: 380px;
    padding: 10px 10px 0 10px;
}

.card-img img {
    width: 333px;
    height: 222px;
    padding-bottom: 10px;
}
.wrap-img {
    height: 100%;
    width: 100%;
    background-image: url(./assets/bedroom-416062_1280.jpg)
}

.text p {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}
.profile-img {
    display: inline-block;
    float: left;
}
.profile-img img {
    width: 48px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    margin-right: 30px;
}
.profilebox {
    width: 100px;
    display: inline-block;
}
.country span {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.introduction > .wrap {
    height: auto;
    clear: both;
}
.introduction .title {
    padding: 15px 0; 
}
.intro-box {
    width: 100%;
    max-width: 1080px;
    height: 220px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px; 
    padding: 10px 0;
}
.intro-item {
    display: inline-block;
    float: left;
    width: 333px;
    padding: 10px;
}
.icon-box > i {
    font-size: 3em;
    padding-bottom: 20px;
    color: #60B6B5;
}
.text-box, .popular-title  > h3 {
    font-size: 18px;
    font-weight: 600;
    padding: 3px 0;
}
.text-box > p {
    font-size: 16px;
}
#popular {
    height: auto;
    clear: both;
}
.popular-item {
    display: inline-block;
    float: left;
    width: 262px;
}
.popular-realtime {
    height: 310px;
}
.popular-card img {
    width: 244px;
    height: 164px;
    padding: 10px 0;
}
.sr-score .score, .popular-score  .score, .review-stars {
    font-size: 10px;
    color: #60B6B5;
    letter-spacing: -1px;
    display: inline;
}
.rv-number, .popular-types, .super-host {
    font-size: 0.8em;
    color: grey;
    font-weight: 600;
    letter-spacing: 1px;
}
.super-host {
    display: inline;
    padding: 0 5px;

}
.view-all {
    clear: both;
    padding-top: 25px;
}
.view-all span, .contact-host span, .explain-more span {
    color: #60B6B5;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}
.view-all a {
    text-decoration: none;
    color: #60B6B5;
}
.add-date .btnbox{
    margin: 30px 0;
}
.date-btn {
    background: #60B6B5;
    padding: 15px 22px;
    border-radius: 4px;
    border: 0px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}
.introduction {
    border-bottom: 1px solid #cccccc;
}
.footer .wrap {
    height: 280px;
}
.footer-item {
    display: inline-block;
    width: 160px;
    float: left;
    padding: 0 45px 10px 45px;
}
.footer-category > span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px
}
.footer-list  li {
    color: grey;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 0;
    font-size: 14px;
}
 a {
    text-decoration: none;
    color: grey;
}
#icon-link a {
    text-decoration: none;
    color: grey;
    font-size: 25px;
    padding: 0 3px;
}
#reserved {
    height: 60px;
    padding-top: 32px;
    border-bottom: 0;
    clear: both;
    border-top: 1px solid #cccccc;
}
#reserved span {
    color: grey;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

#reserved i {
    font-size: 20px;
    padding: 0px 5px;
}
li span {
    display: inline-block;
    background: #006a70;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    padding: 3px;
    border: 0;
    margin: 0 3px;
}
.footer {
    clear: both;
}

/* 상세페이지 */

.header {
    width: 100%;
    height: 50%;
}
.header .logo {
    float: left;
    margin-top: 15px
}

.header > .logo i {
    color: red;
    margin: 0 20px;
    font-weight: 400;
}
.search-box {
    display: inline-block;
    margin-left: 100px;
    padding-top: 30px;
}
.search-bar {
    display: inline-block;
    padding: 3px 20px;
    box-shadow: 0px 9px 13px 0 #cccccc;
    border: 1px solid #EBEBEB

}
.search-icon {
    display: inline-block;
    font-size: 1.3em;
    color: grey;
    float: left;
}
#search {
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 300px;
    transition: all 0.5s;
}
#search:focus {
    width: 500px;
    transition: all 0.5s;
}
.nav-bar {
    float: right;
    padding: 5px 15px;
    display: inline-block;

}
.nav-item {
    display: inline-block;
    padding: 40px 10px;
}

.nav-item:hover {
    border-bottom: #cccccc solid 3px;
}

.photo {
    width: 102%;
    height: 550px;
    padding: 30px 0;
}
.main-photo, .sub-photo {
    border: 1px solid black;
}

.main-photo, .main-photo2 {
    display: inline-block;
    float: left;
    width: 49%;
    height: 592px;
    overflow: hidden;
}
.main-photo2 {
    height: 595px;
}
.main-photo img {
    height: 592px;
    width: 100%;
    min-width: 400px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.sub-photo-group {
    display: inline-block;
    float: left;
    width: 49%;
    height: 592px;
}
.sub-photo {
    height: 50%;
    overflow: hidden;
}

.sub-photo img {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 130%;
    height: 100%;
}
.photo img:hover {
    width: 140%;
    height: 110%;
    transition: all 0.5s;
}
.room-content, .amenity-content {
    width: 58%;
    float: left;
    padding-bottom: 10px;
    border-bottom: #cccccc 1px solid;
}
.content .wrap {
    height: 100%;
}
.room-content .title {
    display: inline-block;
}
.room {
    display: block;
    padding-bottom: 15px;
}
.room span {
    display: inline;
}
.profile-host {
    float: right;
}
.profile-host span {
    text-align: center;
}
.profile-host img {
    display: inline-block;
    width: 55px;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid #cccccc;
}
.room-icon {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 30px;
}
.room-text {
    display: inline-block;
    width: 85%;
}
.room-text span, .dateItem span {
    display: inline;
    font-size: 18px;
    padding: 5px;
    letter-spacing: 1px;
    font-weight: 500;
}
.room-info {
    padding-bottom: 5px;
}
.room-detail {
    display: inline-block;
    padding-bottom: 5px;
}
.side-reservation {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    position: sticky;
    top: 10px;
    margin-left: 70px;
    padding: 0 20px;
    display: inline-block;
    height: 372px;
}
.sr-info {
    margin: 0 auto;
    padding: 15px;
    border-bottom: 1px solid #cccccc;
}
.sr-price span, .sr-score span {
    display: inline;
}

#price {
    font-size: 20px;
}
.booking .dateItem{
    display: inline-block;
    width: 300px;
    float: left;
    margin : 10px 0 10px 0;
}
#booking .datebox, #booking .people {
    width: 290px;
}
#date-from, #date-to, #persons{
    display: inline-block;
    width: 100px;
    border: 0;
    padding: 10px;
    font-size: 16px;
    color: #484848;
}

#persons {
    width: 290px;
}

#booking .btnbox, #booking .submitBtn {
    width: 290px;
    height: 40px;
}
.confirm-message {
    padding-top: 200px;
}
.confirm-message span {
    color: #484848;
    letter-spacing: 1px;
    font-size: 10px;
}
.room-explain {
    clear: both;
    width: 58%;
    border-bottom: #cccccc 1px solid;
}
.translate-btn button {
    width: 595px;
    padding: 6px 12px;
    background: transparent;
}
.explain-more span {
    display: inline-block;
    padding-bottom: 15px;
}

.amenity-title {
    padding: 10px 0;
}
.amenity-title span {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
}
.amenity-list {
    display: inline-block;
    width: 49%;
}

.amenity-list span, .carbon-check, .bed-type{
    display: inline-block;
    color: #484848;
    font-weight: 400;
    letter-spacing: 1px;
}
.bedding {
    clear: both;
}
.room-bed {
    display: inline-block;
    height: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 15px;
    margin: 10px 15px 10px 0;
}
.bed-icon {
    margin: 0 20px 10px 0;
    padding: 10px;
}
.bed-info {
    display: block;
    margin: 10px 20px 10px 0;
}
.bed-info span{
    display: block;
    margin: 0;
}
.first-room {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.reservation-check {
    width: 58%;
    clear: both;
    display: inline-block;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}
.reservation-check span, .pre-month li, .next-month li,
.conditions span {
    display: inline-block;
    letter-spacing: 1px;
    padding-right: 8px;
}
.pre-year-month {
    padding: 0 25px;
}
.calendar-month {
    padding-bottom: 10px;
}
.calendar-days {
    line-height: 10px;
}
.pre-month, .next-month {
    display: inline-block;
    float: left;
    margin: 0 50px;
}
.calendar-box ul {
    padding-left: 8px;
}
.pre-btn, .next-btn {
    padding: 5px 10px;
    background: white;
    border: 1px solid #cccccc;
}
.pre-btn i, .next-btn i {
    font-size: 12px;
}
.next-calendar-month {
    padding: 0 0 10px 55px;
}
.right-icon {
    padding-left: 30px;
}
.not-av, .available {
    text-align: center;
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px 5px;
    width: 4px;
    height: 4px;
    font-size: 14px;
    background: repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgb(235, 235, 235) 4px);
}

.available {
    background: rgb(237, 246, 246);
    color: rgb(0, 132, 137);
    font-weight: bold;
}

.available:hover {
    background: rgb(204, 238, 235);
}
.review-content {
    width: 58%;
    display: inline-block;
}
.review-total div {
    display: inline-block;
}
.review-total {
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
.how-many-reviews, .host-name span, 
.location-info span, .refund-condition span {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
}

.review-stars {
    display: inline-block;
    font-size: 14px;
    color: rgb(0, 132, 137);
    vertical-align: super;
    margin: 0 30px;
}
.review-search-box {
    margin-left: 110px;
    vertical-align: super;
}
.review-search-bar {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0 10px;
}
.review-search-bar .search-icon {
    font-size: 1em;
}
#review-search {
    border: none;
    padding: 10px;
    font-size: 13px;
}
.review-search-box:active {
    border: 1px solid #006a70;
    border-radius: 4px;
}
.score-detail {
    border-bottom: 1px solid #cccccc;
}
.detail-subject {
    display: inline-block;
    width: 49%;
}
.detail-subject span {
    display: inline-block;
    vertical-align: unset;
    margin: 0 30px;
}
.detail-subject .review-stars {
    float: right;
    padding: 12px 0;
}
.detail-title {
    padding: 15px 0;
    letter-spacing: 1px;
    color: #808080;
    font-weight: 500;
}
.review-item {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}
.customer-photo, .customer-detail {
    display: inline-block;
}
.customer-photo img {
    width: 35px;
    border-radius: 50%;
    border: 1px solid #cccccc;
}
.customer-name span, .review-date span, .host-info span, 
.verified-host span, .host-response span {
    letter-spacing: 1px;
}
.review-date span{
    font-size: 10px;
    font-weight: 400;
}
.content p{
    font-size: 14px;
    font-weight: 400;
    color: #484848;
    line-height: 18px;
}

.review-nav li {
    display: inline-block;
    margin: 10px;
}
.review-nav button {
    color: #006a70;
    border-radius: 50%;
    padding: 8px 10px;
    border:0;
}
#now-review-page {
    background: #006a70;
    color: white;
}
#next-nav {
    border: 1px solid #006a70;
}
.about-host {
    width: 58%;
    padding-top: 50px;
    display: inline-block;
}
.host-name {
    display: inline-block;
}
.host-detail {
    margin: 10px 0;
}
.verified-host span {
    display: inline-block;
}
.host-response span {
    font-weight: 400;
}
.host-call {
    padding: 10px 0;
}
#contact-host-btn {
    border: #006a70 solid 1px;
    color: #006a70;
    border-radius: 4px;
    padding: 7px 15px;
}
.host-contact {
    padding: 20px 0;
}
.warning {
    padding: 15px 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc
}

.warning a {
    font-weight: 600;
    color: #60B6B5;
}
.location, .refund {
    clear: both;
    display: inline-block;
    width: 58%;
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
#location-more, #refund-more, #cancle-more {
    font-size: 14px;
    font-weight: 600;
    color: #60B6B5;
    border: none;
    outline: none;
}
.location-map {
    width: 100%;
    height: 300px;
}
.conditions {
    padding: 10px 0;
}