* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin: 8px 0 8px 0;
    line-height: 26px;
}
strong {
    font-weight: 800;
}
.maintop {
    height: 691px;
    /* padding : 32px; */
}
.reserve-box {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate( -50%, -50% );
    width: 520px;
    height: 570px;
    margin-left: 90px;
}
.main-img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    opacity: 1!important;
}
.bg-img {
    position: relative;
    width: 100%;
    height: 100%;
}
.img-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2!important;
}
.wrap{
    width: 1080px;
    height: 563px;
    margin: 0 auto;
    padding: 64px 0 0 76px;
    z-index: 1;
}

#reservation {
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
    width: 444px;
    height: 499px;
    background: white;
    align-items: center;
    padding: 32px;
    margin-bottom: 64px;
    border-radius: 4px;

}
#reservation input {
    border: 0px;
}
 div > span {
    display: block;
    margin: 10px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}
input, select {
    display: block;
    width : 420px;
    height: 20px;
    font-size: 18px;
    padding: 11px 6px 11px 11px;
}

.datebox {
    display: inline-block;
    width: 222px;
    float: left;
    margin : 10px 0 10px 0;
}

.datebox  input {
    width: 202px;
    border: 0px;
}

.people {
    display: inline-block;
    width: 222px;
    float: left;
    margin : 5px 0 25px 0;
}
.selectbox, .dateItem, .destination {
    border: 1px solid rgb(235, 235, 235);
}
.selectbox > select {
    display: inline-block;
    width: 210px;
    height: 40px;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    padding: 10px;
    background: url('./assets/caret-down-solid.svg') no-repeat 95% 50%; 
}
.btnbox {
    margin : 10px 0 10px 0;
    align-items: center;
    width: 444px;
}
.submitBtn {
    background: rgb(255, 90, 95);
    width: 446px;
    height: 50px;
    padding: 10px 22px;
    border-radius: 4px;
    margin: 10px 0;
    border: 0px
}

.submitBtn > span {
    font-size: 18px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
}

.title {
    margin: 10px 0;
}
.photoreview {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    height: 100%;
}
.card-container {
    display: inline-block;
    position: relative;
    width: 32.3333333%;
    vertical-align: top;
}
.cardItem {
    display: inline-block;
    width: 340px;
    height: 380px;
    padding: 10px 10px 0 10px;
}

.cardimg img {
    width: 333px;
    height: 222px;
    padding-bottom: 10px;
}
.text p {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}
.profileimg {
    display: inline-block;
    float: left;
}
.profileimg img {
    width: 48px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    margin-right: 30px;
}
.profilebox {
    width: 100px;
    margin-top: px;
    display: inline-block;
}
.country span {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.introduction > .wrap {
    height: 260px;
    
}
.introduction .title {
    padding: 5px 0; 
}
.intro-box {
    width: 1080px;
    height: 220px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px; 
    padding: 10px 0;
}
.intro-item {
    display: inline-block;
    float: left;
    width: 333px;
    height: 136px;
    padding: 10px;
}
.icon-box > i {
    font-size: 3em;
    padding-bottom: 20px;
    color: #60B6B5;
}
.text-box, .popular-title  > h3 {
    font-size: 18px;
    font-weight: 600;
    padding: 3px 0;
}
.text-box > p {
    font-size: 16px;
}
#popular {
    height: 400px;
}
.popular-item {
    display: inline-block;
    float: left;
    width: 262px;
    height: 280px;
}
.popular-realtime {
    height: 310px;
}
.popular-card img {
    width: 244px;
    height: 164px;
    padding: 10px 0;
}
.popular-score > .score {
    font-size: 10px;
    color: #60B6B5;
    letter-spacing: -1px;
    display: inline;
}
.popular-types, .super-host {
    font-size: 0.8em;
    color: grey;
    font-weight: 600;
    letter-spacing: 1px;
}
.super-host {
    display: inline;
    padding: 0 5px;

}
.view-all {
    clear: both;
}
.view-all span {
    color: #60B6B5;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}
.view-all > a {
    text-decoration: none;
    color: #60B6B5;
}
.add-date .btnbox{
    margin: 30px 0;
}
.date-btn {
    background: #60B6B5;
    padding: 15px 22px;
    border-radius: 4px;
    border: 0px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}
.introduction {
    border-bottom: 1px solid #cccccc;
}
.footer .wrap {
    height: 280px;
    border-bottom: 1px solid #cccccc;
}
.footer-item {
    display: inline-block;
    width: 160px;
    float: left;
    padding: 0 45px;
}
.footer-category > span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px
}
.footer-list  li {
    color: grey;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 0;
    font-size: 14px;
}
.footer-list a {
    text-decoration: none;
    color: grey;
}
#icon-link a {
    text-decoration: none;
    color: grey;
    font-size: 25px;
    padding: 0 3px;
}
#reserved {
    height: 60px;
    padding-top: 32px;
    border-bottom: 0;
}
#reserved span {
    color: grey;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

#reserved i {
    font-size: 20px;
    padding: 0px 5px;
}
li span {
    display: inline-block;
    background: #006a70;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    padding: 3px;
    border: 0;
    margin: 0 3px;
}

